<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ title|default('SG Tuggen')|striptags }}{% endblock %}</title>

    {% block includes %}
        {% stylesheets 'bundles/sgtuggenmain/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/sgtuggenmain/images/favicon.ico') }}" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {# include "SymfonyCmfCreateBundle::includecssfiles.html.twig" #}
    {% endblock %}
</head>
<body>
<div id="headline">
    <div id="header">
        <img id="logo" src="{{ asset('bundles/sgtuggenmain/images/sgtuggen.png') }}" alt="SG Tuggen Logo" />
        <span id="pagetitle">SG Tuggen</span>
    </div>
    <div id="header_bottom" class="border_bottom"></div>
</div>
<div id="sidebar">
    <div id="sidebar_top"></div>
    <div id="navigation">
        {% block navigation %}
            {{ knp_menu_render('simple') }}
        {% endblock %}
    </div>
    <div id="sidebar_bottom"></div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{# render "symfony_cmf_create.jsloader.controller:includeJSFilesAction" #}
</body>
</html>

