<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="container-xl">
            <div id="header" class="bg-light">
                <img id="logo" src="{{ asset('images/sgtuggen.png') }}" alt="SG Tuggen Logo" />
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% for n in nav %}
                            {% if n.sub is defined %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ n.name }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for s in n.sub %}
                                            <li><a class="dropdown-item" href="{{ path(s.routes[0]) }}">{{ s.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link {{ app.request.get('_route') in n.routes ? 'active' }}" {{ app.request.get('_route') in n.routes ? 'aria-current="page"' }} href="{{ path(n.routes[0]) }}">{{ n.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
