<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div id="headline">
            <div id="header">
                <img id="logo" src="{{ asset('images/sgtuggen.png') }}" alt="SG Tuggen Logo" />
                <span id="pagetitle">SG Tuggen</span>
            </div>
            <div id="header_bottom" class="border_bottom"></div>
        </div>
        <div id="sidebar">
            <div id="sidebar_top"></div>
            <div id="navigation">
                <ul>
                    <li class="{{ app.request.get('_route') == 'home' ? 'current' }}"><a href="{{ path('home') }}">Startseite</a></li>
                    <li class="{{ app.request.get('_route') == 'vorstand' ? 'current' }}"><a href="{{ path('vorstand') }}">Vorstand</a></li>
                    <li class="{{ app.request.get('_route') == 'schiessplan' ? 'current' }}"><a href="{{ path('schiessplan') }}">Schiessplan</a></li>
                    <li class="{{ app.request.get('_route') == 'gruppenschiessen' ? 'current' }}"><a style="font-size:0.9em" href="{{ path('gruppenschiessen') }}">Fakultative Schiessen</a></li>
                    <li class="{{ app.request.get('_route') == 'feldschiessen' ? 'current' }}"><a href="{{ path('feldschiessen') }}">Feldschiessen</a></li>
                    <li class="{{ app.request.get('_route') == 'jungschuetzenkurs' ? 'current' }}"><a href="{{ path('jungschuetzenkurs') }}">Jungschützenkurs</a></li>
                    <li class="{{ app.request.get('_route') == 'contact' or app.request.get('_route') == 'contact_success' ? 'current' }}"><a href="{{ path('contact') }}">Kontakt</a></li>
                </ul>
            </div>
            <div id="sidebar_bottom"></div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
