{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2025</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 21. April 2025</td>
        <td class="time">09:30 Uhr bis 11:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 27. Juni 2025</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 22. August 2025</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Schübelbach mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    <tr class="datetime">
        <td class="date">Freitag, 23. Mai 2025</td>
        <td class="time-big">17:30 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 24. Mai 2025</td>
        <td class="time-big">14:30 Uhr bis 17:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 25. Mai 2025</td>
        <td class="time-big">09:00 Uhr bis 11:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 8./15./22. März 2025</td>
        <td class="time">13:30 Uhr bis 15:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 29. März 2025</td>
        <td class="time">15:00 Uhr bis 16:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 2. April bis 30. April 2025</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 3. April bis 1. Mai 2025</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 7. Mai bis 25. Juni 2025</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 8. Mai bis 26. Juni 2025</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 6. August bis 27. August 2025</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 3. September bis 24. September 2025</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    </table>
    <div class="text">Am <b>9. Mai 2025</b> und <b>30. Mai 2025</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
        <td class="ranking"></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (1. April bis 4. Juni 2025)</td>
        <td class="ranking"></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Feussisberg</td>
        <td class="shooting">Jubiläumsschiessen 175 Jahre</td>
        <td class="date">4./5./11./12./13. April 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Feusisberg.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Schlossturmschiessen</td>
        <td class="date">12./13./26. April 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Pfäffikon.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">25./26. April und 3./4. Mai 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Maseltrangen.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Verbandsschiessen March-Höfe</td>
        <td class="date">13./14. Juni 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Verbandsschiessen.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Bennau</td>
        <td class="shooting">Jubiläumsschiessen 130 Jahre</td>
        <td class="date">9./10./17./18. Mai 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Bennau.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Einsiedeln</td>
        <td class="shooting">Jubiläumsschiessen 125 Jahre</td>
        <td class="date">9./10./17./18. Mai 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Einsiedeln.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Trachslau</td>
        <td class="shooting">Sihlseeschiessen</td>
        <td class="date">9./10./17./18. Mai 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_Trachslau.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Mels</td>
        <td class="shooting">St. Galler Kantonal</td>
        <td class="date">29. Juni und 4. Juli 2025</td>
        <td class="ranking"><a href="{{ asset('docs/2025_Rangliste_StGallerKantonal.pdf') }}">Rangliste</a></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Oberiberg</td>
        <td class="shooting">Roggenstock-Schiessen</td>
        <td class="date">15./16./23./24. August 2025</td>
        <td class="ranking"></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Unteriberg</td>
        <td class="shooting">Hirschflueh-Schiessen</td>
        <td class="date">15./16./23./24. August 2025</td>
        <td class="ranking"></td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen</td>
        <td class="date">27. September und 4. Oktober 2025</td>
        <td class="ranking"></td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">8. November 2025</td>
    </tr>
    </table>
</div>
{% endblock %}
