{% extends 'base.html.twig' %}

{% block title %}Vorstand - SG Tuggen{% endblock %}

{% block content %}
<h1>Vorstand</h1>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/hermann.pfister.png') }}" alt="" />
    <span class="name">Pfister Hermann</span>
    <span class="type">Präsident</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/roland.mueller.png') }}" alt="" />
    <span class="name">Müller Roland</span>
    <span class="type">Vize-Präsident und Kassier</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/dominic.perisset.png') }}" alt="" />
    <span class="name">Dominic Périsset</span>
    <span class="type">Aktuar</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/remo.maechler.png') }}" alt="" />
    <span class="name">Mächler Remo</span>
    <span class="type">Schiess-Sekretär</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/andreas.bamert.png') }}" alt="" />
    <span class="name">Bamert Andreas</span>
    <span class="type">Munitionsverwalter</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/roger.kaeser.png') }}" alt="" />
    <span class="name">Käser Roger</span>
    <span class="type">Hauptschützenmeister</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/erhard.ziltener.png') }}" alt="" />
    <span class="name">Ziltener Erhard</span>
    <span class="type">Schützenmeister</span>
</div>
<div class="person">
    <img class="person" src="{{ asset('/images/persons/beat.graezer.png') }}" alt="" />
    <span class="name">Gräzer Beat</span>
    <span class="type">Jungschützenleiter</span>
</div>
{% endblock %}
